html{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    display: block;
    height: 3021.6px;
    min-height: 100%;
    scroll-behavior: smooth;
    position: relative;
    width: 1048px;
    -webkit-locale:"es"
}


.style{
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: block;
    font-family: "barlow",sans-serif;
    font-size:16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    overflow-x: hidden;
    text-align: start;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
.ContenidoHTML{
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 20px;
}

header{
    box-sizing: border-box;
    color: #0C0C0C;
    display: block;
    font-family: "Barlow",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: start;
    text-size-adjust: 100%;
    unicode-bidi: isolate;
    -webkit-tap-highlight-color: transparent;}
.simple-header{
        align-items:center ;
        background-color: rgb(255, 255, 255);
        border-bottom-color: rgb(204, 204,204);
        border-bottom-style: solid;
        border-bottom-width: 0.8px;
        box-sizing: border-box;
        color: rgb(33,37, 47);
        display: flex;
        font-family: "Barlow",sans-serif;
        font-size: 16px;
        font-weight: 400;
        height: 78px;
        line-height: 24px;
        min-height: 70px;
        text-align: start;
        text-size-adjust: 100%;
        unicode-bidi: isolate;
        width: 1048px;
        -webkit-tap-highlight-color: transparent;
 }
 .Contenedor{
    box-sizing: border-box;
    color:rgb(33,37,41);
    display: block;
    font-family: "Barlow",sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 36px;
    line-height: 24px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: start;
    text-size-adjust: 100%;
    unicode-bidi: isolate;
    width: 375.2px;
    -webkit-tap-highlight-color: transparent;
}
.row{
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: flex;
    flex-wrap: wrap;
    font-family: "barlow" sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-left: -12px;
    margin-right: -12px;
    margin-top: 0px;
    text-align: start;
    text-size-adjust: 100%;
    unicode-bidi: isolate;
    -webkit-tap-highlight-color: transparent;
}
.col-12{
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: block;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    font-family: "barlow"sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 36px;
    line-height: 24px;
    margin-top: 0px;
    max-width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    text-align: start;
    text-size-adjust: 100%;
    unicode-bidi: isolate;
    width: 960px;
    -webkit-tap-highlight-color: transparent;
}
.ImagenLogo{
    box-sizing: border-box;
    color: rgb(13, 110, 253);
    cursor: pointer;
    display: inline;
    font-family: "Barlow", sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: auto;
    margin-left:60px;
    line-height: 24px;
    text-align: start;
    text-decoration-color: rgb(13, 110,254);
    text-decoration-line: underline;
    text-decoration-style:solid ;
    text-decoration-thickness: auto;
    text-size-adjust: 100%;
    width: auto;
    -webkit-tap-highlight-color: transparent;
}

 #Banner{
        width: 100vw;
        margin:0;
        padding:0;
        box-sizing: border-box;
        block-size: 388.8px;
        color:rgb(33, 37, 41);
        display:block;
        font-family: "barlow",sans-serif;
        font-size: 16px;
        font-weight:400;
        overflow-x: hidden;
        height:388.8px;
        line-height:24px;
        text-align:start;
        text-size-adjust: 100%;
        unicode-bidi:isolate;
        -webkit-tap-highlight-color: transparent;
 }
 .Banner-Principal{
    background-image:url(https://www.entel.cl/public/includes/components/vue/banners/main-banner/public/img/webp/bg-internet-md.webp?v=519);
    background-position-x:100%;
    background-position-y:50%;
    background-repeat: no-repeat;
    background-size:cover;
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: flex;
    flex-direction: column;
    font-family: "barlow"sans-serif;
    font-size: 16px;
    font-weight:400;
    overflow-x: hidden;
    height:250px;
    justify-content:center;
    line-height: 24px;
    margin-block-end:24px;
    margin-block-start: 0px;
    margin-top: 0;
    text-align: start;
    text-size-adjust: 100%;
    unicode-bidi: isolate;  
    width: 787.2px;
    -webkit-tap-highlight-color: transparent;}

.container{
        box-sizing: border-box;
        color: rgba(33,37 , 41, );
        display: block;
        font-family: "barlow"sans-serif;
        font-size: 16px;
        font-weight: 400;
        height: 180px;
        line-height: 24px;
        margin-left: 102px;
        margin-right:102px;
        max-width:720px;
        padding-left: 12px;
        padding-right: 12px;
        text-align: start;
        text-size-adjust: 100%;
        unicode-bidi: isolate;
        width:720px;
        -webkit-tap-highlight-color:transparent;
    }
.row1{
        box-sizing: border-box;
        color: rgb(33,37,41);
        display: flex;
        flex-wrap: wrap;
        font-family: "Barlow",sans-serif;
        font-size: 16px;
        font-weight: 400;
        height: 148px;
        line-height: 24px;
        margin-left:-12px;
        margin-right:-12px;
        margin-top: 0px;
        text-align: start;
        text-size-adjust: 100%;
        unicode-bidi: isolate;
        width: 720px;
        -webkit-tap-highlight-color: transparent;
    }
.col1{
        box-sizing: border-box;
        color: rgb(33, 37,41);
        display: block;
        flex-basis: 0%;
        flex-grow: 1;
        flex-shrink: 0;
        font-family:"Barlow",sans-serif ;
        font-size: 16px;
        font-weight: 400;
        height: 148px;
        line-height: 24px;
        margin-top: 0px;
        max-width: 100%;
        padding-left:12px;
        padding-right:12px;
        text-align: start;
        text-size-adjust: 100%;
        unicode-bidi: isolate;
        width:  960px;
        -webkit-tap-highlight-color: transparent;
    }

.Banner-Principal-Header{
    align-items: center;
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: flex;
    font-family: "barlow" sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 8px;
    padding-block-start: 0px;
    text-align: start;
    text-size-adjust: 100%;
    unicode-bidi: isolate;
    -webkit-tap-highlight-color: transparent;
}
.Imagen1{
 box-sizing: border-box;
 color: rgb(33,37,41);
 font-family: "barlow",sans-serif;
 font-size: 16px;
 font-weight: 400;
 line-height: 24px;
 overflow-clip-margin: content-box ;
 overflow-x: clip;
 overflow-y: clip;
 text-align: start;
 text-size-adjust: 100%;
vertical-align: middle;
-webkit-tap-highlight-color: transparent;
}
.Tag-Banner{
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: block;
    font-family: "Inter",sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.08px;
    line-height: 24px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    margin-bottom: 0px;
    margin-inline-start: 0px;
    margin-top: 0px;
    padding-left: 4px;
    padding-top: 4px;
    text-align: start;
    text-size-adjust: 100%;
    unicode-bidi:isolate;
    -webkit-tap-highlight-color: transparent;
}
.Banner-Principal-Body{
    box-sizing: border-box;
    color:rgb(33,37,41);
    display: block;
    font-family: "barlow",sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 112px;
    line-height: 24px;
    text-align: start;
    text-size-adjust: 100%;
    unicode-bidi:isolate;
    -webkit-tap-highlight-color: transparent;
}
.Banner-Principal-Titulo{
    box-sizing: border-box;
    color: rgb(12, 12,12);
    display: block;
    font-family: "barlow",sans-serif;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 40px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    margin-bottom: 0px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-top: 0px;
    max-width: 397.76;
    text-align: start;
    text-size-adjust: 100%;
    unicode-bidi: isolate;
    -webkit-tap-highlight-color: transparent;
}
.d-block{
    box-sizing: border-box;
    color: #0C0C0C;
    display: block;
    font-family: "Barlow"sans-serif;
    font-size: 32px;
    font-weight: 400;
    height: auto;
    letter-spacing: normal;
    line-height: 40px;
    text-align: start;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
.Banner-Principal-Subtitulo{
    box-sizing: border-box;
    color: #0C0C0C;
    display: block;
    font-family: "Inter" sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 24px;
    letter-spacing: 0.08px;
    line-height: 24px;
    margin-block-end: 0px;
    margin-block-start:8px;
    margin-bottom: 0px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-top:8px;
    text-align: start;
    text-size-adjust: 100%;
    unicode-bidi: isolate;
    width: 936px;
    -webkit-tap-highlight-color: transparent; 
}
.strong1{
    box-sizing: border-box;
    color: #0C0C0C;
    display: inline;
    font-family: "Inter",sans-serif;
    font-size: 14px;
    font-weight:700;
    height: auto;
    letter-spacing:0.08px;
    line-height: 24px;
    text-align: start;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;

}

#Menu-Contrato{
    background-color:#fff;
    box-sizing: border-box;
    color: rgb(33,37,41);
    display:block;
    font-family: "Berlow",sans-serif;
    font-size: 16px;
    font-weight: 400;
    justify-content: center;
    line-height: 24px;
    overflow-y: auto;
    padding-bottom:8.8px;
    padding-left: 0px;
    padding-right:0px;
    padding-top: 0px;
    text-align: start;
    text-size-adjust: 100%;
    unicode-bidi: isolate;
    -webkit-tap-highlight-color: transparent;
}
.D-flex{
align-items: center;
border-bottom-color: rgb(33,37,41);
border-bottom-style: none;
border-bottom-width:0px;
box-sizing: border-box;
color: rgb(33,37, 41);
display:flex;
flex-wrap:nowrap;
font-family: "barlow",sans-serif;
font-size: 16px;
font-weight: 400;
justify-content: space-between;
line-height: 24px;
list-style-image: none;
list-style-position:outside;
list-style-type: none;
margin-block-end:0px;
margin-block-start:0px;
margin-bottom: 0px;
margin-inline-end: 0px;
margin-inline-start:0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-inline-start: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
position: relative;
text-align: start;
text-size-adjust: 100%;
unicode-bidi:isolate;
width:527.2px;
-webkit-tap-highlight-color: transparent;
}
.Nav-item1{
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: list-item;
    font-family: "barlow", sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 80px;
    line-height: 24px;
    list-style-image: none;
    list-style-position:outside;
    list-style-type: none;
    text-align: center;
    text-size-adjust: 100%;
    unicode-bidi: isolate;
    width: 120px;
    -webkit-tap-highlight-color: transparent;
}
.D-internet{
align-items: center;
background-attachment: scroll;
background-clip: border-box;
background-color:#fff;
background-image: none;
background-origin: padding-box;
background-position-x: 0px ;
background-position-y: 0px ;
background-repeat: repeat;
background-size: auto;
border-bottom-color:rgb(12, 12, 12);
border-bottom-style: none ;
border-bottom-width: 0px;
border-image-outset: 0 ;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(12, 12,12);
border-left-style: none;
border-right-color: rgb(12,12,12);
border-right-color:rgb(12,12,12) ;
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(12,12,12);
border-top-left-radius: 4px;
border-top-right-radius: 4px;
border-top-style: none;
border-top-width: 0px;
box-sizing: border-box;
color: rgb(12,12,12);
cursor: pointer;
display: flex;
flex-direction: column;
font-family: "barlow",sans-serif;
font-size: 14px;
font-weight: 400;
height: 80px;
justify-content: center;
line-height: 18px;
list-style-image:none;
list-style-position:outside ;
list-style-type: none;
margin-bottom: -1px;
padding-bottom: 8px;
padding-left: 16px;
padding-right: 16px;
padding-top: 8px;
position: relative;
text-align:center;
text-decoration-color: rgb(12,12,12);
text-decoration-line: none;
text-decoration-style: solid;
text-decoration-thickness: auto;
text-size-adjust: 100%;
transition-behavior: normal;
transition-delay: 0s;
transition-duration: 0.4s;
transition-property: all;
transition-timing-function: ease-in-out;
width: 120px;
-webkit-tap-highlight-color: transparent;

}
.D-doble-pack{
    align-items: center;
background-attachment: scroll;
background-clip: border-box;
background-color:#fff;
background-image: none;
background-origin: padding-box;
background-position-x: 0px ;
background-position-y: 0px ;
background-repeat: repeat;
background-size: auto;
border-bottom-color:rgb(12, 12, 12);
border-bottom-style: none ;
border-bottom-width: 0px;
border-image-outset: 0 ;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(12, 12,12);
border-left-style: none;
border-right-color: rgb(12,12,12);
border-right-color:rgb(12,12,12) ;
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(12,12,12);
border-top-left-radius: 4px;
border-top-right-radius: 4px;
border-top-style: none;
border-top-width: 0px;
box-sizing: border-box;
color: rgb(12,12,12);
cursor: pointer;
display: flex;
flex-direction: column;
font-family: "barlow",sans-serif;
font-size: 14px;
font-weight: 400;
height: 80px;
justify-content: center;
line-height: 18px;
list-style-image:none;
list-style-position:outside ;
list-style-type: none;
margin-bottom: -1px;
padding-bottom: 8px;
padding-left: 16px;
padding-right: 16px;
padding-top: 8px;
position: relative;
text-align:center;
text-decoration-color: rgb(12,12,12);
text-decoration-line: none;
text-decoration-style: solid;
text-decoration-thickness: auto;
text-size-adjust: 100%;
transition-behavior: normal;
transition-delay: 0s;
transition-duration: 0.4s;
transition-property: all;
transition-timing-function: ease-in-out;
width: 120px;
-webkit-tap-highlight-color: transparent;

}
.D-triple-pack{
    align-items: center;
background-attachment: scroll;
background-clip: border-box;
background-color:#fff;
background-image: none;
background-origin: padding-box;
background-position-x: 0px ;
background-position-y: 0px ;
background-repeat: repeat;
background-size: auto;
border-bottom-color:rgb(12, 12, 12);
border-bottom-style: none ;
border-bottom-width: 0px;
border-image-outset: 0 ;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(12, 12,12);
border-left-style: none;
border-right-color: rgb(12,12,12);
border-right-color:rgb(12,12,12) ;
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(12,12,12);
border-top-left-radius: 4px;
border-top-right-radius: 4px;
border-top-style: none;
border-top-width: 0px;
box-sizing: border-box;
color: rgb(12,12,12);
cursor: pointer;
display: flex;
flex-direction: column;
font-family: "barlow",sans-serif;
font-size: 14px;
font-weight: 400;
height: 80px;
justify-content: center;
line-height: 18px;
list-style-image:none;
list-style-position:outside ;
list-style-type: none;
margin-bottom: -1px;
padding-bottom: 8px;
padding-left: 16px;
padding-right: 16px;
padding-top: 8px;
position: relative;
text-align:center;
text-decoration-color: rgb(12,12,12);
text-decoration-line: none;
text-decoration-style: solid;
text-decoration-thickness: auto;
text-size-adjust: 100%;
transition-behavior: normal;
transition-delay: 0s;
transition-duration: 0.4s;
transition-property: all;
transition-timing-function: ease-in-out;
width: 120px;
-webkit-tap-highlight-color: transparent;


}
.Nav-item2{
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: list-item;
    font-family: "barlow", sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 80px;
    line-height: 24px;
    list-style-image: none;
    list-style-position:outside;
    list-style-type: none;
    text-align: center;
    text-size-adjust: 100%;
    unicode-bidi: isolate;
    width: 120px;
    -webkit-tap-highlight-color: transparent;
}
.Nav-item3{
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: list-item;
    font-family: "barlow", sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 80px;
    line-height: 24px;
    list-style-image: none;
    list-style-position:outside;
    list-style-type: none;
    text-align: center;
    text-size-adjust: 100%;
    unicode-bidi: isolate;
    width: 120px;
    -webkit-tap-highlight-color: transparent;
}
.InternetHogar,.duo-pack,.triple-pack{
box-sizing: border-box;
color: rgb(0, 46, 255);
cursor: pointer;    
display: block;
font-family: "barlow",sans-serif;
font-size: 14px;
font-weight: 600;
line-height: 18px;
list-style-image: none;
list-style-position:outside;
list-style-type: none;
margin-block-end: 0px;
margin-block-start: 0px;
margin-bottom: 0px;
margin-inline-end: 0px;
margin-inline-start: 0px;
margin-top: 0px;
text-align: center;
text-size-adjust: 100%;
unicode-bidi: isolate;
-webkit-tap-highlight-color: transparent;
}

.mb-5{
box-sizing: border-box;
color:rgb(33,37,41);
display: block;
font-family: "barlow",sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 24px;
margin-bottom: 48px;
text-align: start;
text-size-adjust: 100%;
unicode-bidi: isolate;
-webkit-tap-highlight-color:transparent;
}



.mb-0{
box-sizing: border-box;
color: rgb(12, 12,12);
cursor: pointer;
display: block;
font-size: 16px;
font-weight: 400;
line-height: 24px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-block-end: 0px;
margin-block-end: 0px;
margin-bottom:0px;
margin-inline-end: 0px;
margin-inline-start: 0px;
margin-top: 0px;
text-align: center;
text-size-adjust: 100%;
unicode-bidi: isolate;
-webkit-tap-highlight-color:transparent;


}
.Tab-contenido{
box-sizing :border-box;
color: rgb(33, 37, 41);
display: block;
font-family: Barlow, sans-serif;
font-size :16px;
font-weight: 400;
height :1268.45px;
line-height: 24px;
text-align :start;
text-size-adjust: 100%;
unicode-bidi :isolate;
width :527.2px;
-webkit-tap-highlight-color :rgba(0, 0, 0, 0);

}
.Tab-pane-fade-active{
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: none;
    font-family :Barlow, sans-serif;
    font-size :16px;
    font-weight :400;
    height: auto;
    line-height: 24px;
    opacity: 0;
    text-align: start;
    text-size-adjust: 100%;
    transition-behavior :normal;
    transition-delay :0s;
    transition-duration: 0.15s;
    transition-property: opacity;
    transition-timing-function: linear;
    unicode-bidi: isolate;
    width :auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  
}
.Row-jutificacion{
box-sizing: border-box;
color :rgb(33, 37, 41);
display :flex;
flex-wrap: wrap;
font-family :"Barlow", sans-serif;
font-size: 16px;
font-weight: 400;
height :auto;
line-height: 24px;
margin-left: -12px;
margin-right: -12px;
margin-top: 0px;
text-align: start;
text-size-adjust :100%;
unicode-bidi: isolate;
width :auto;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}